<%layout("/layouts/boilerplate.ejs")-%>

  <div class="description mt-5">
    <div class="line1">
      <h1>Building Digital Solutions</h1>
    </div>
    <div class="line2">
      <h1>That Impowers Your Business</h1>
    </div>
    <div class="service-info mt-2 " style="display:flex;">
      <p>&nbsp;Web-Development &nbsp; </p>
      <p>&nbsp;Web-Applications &nbsp; </p>
      <p>&nbsp;UI-UX Design &nbsp; </p>
      <p>&nbsp;SEO - Maintainance&nbsp;</p>
    </div>
    <div class="description-btn mt-2 ">
      <a href="/orvane/services" style="text-decoration: none;"><button class="service-btn">Our
          Services</button>&nbsp;</a>
      <a href="/orvane/contact" style="text-decoration: none;color:white;"><button class="contact-btn"
          style="margin-left: 1rem;">Contact Us</button></a>
    </div>
  </div>
  <div>
    <h2 class="service-heading">Services - </h2>
    <div class="services-preview mt-2">
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 g-3">
        <% for(let service of allServices) { %>
          <a href="/services/<%=service._id%>" class="service-link">
            <div class="card col service-card text-center">
              <div class="card-body">
                <img src="<%=service.image%>" class="service-img" alt="service-image">
                <p class="card-text card-title mt-3">
                  <%=service.title%><br>
                </p>
              </div>
            </div>
          </a>
          <% } %>
      </div>
    </div>
  </div>
  <h2 class="portfolio-heading">Ambassador - </h2>
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3 mb-5 mt-3">
    <% for(let employee of allEmployee) { %>
      <div class="col">
        <a href="/services/<%=employee._id%>" class="portfolio-link text-decoration-none">
          <div class="card h-100 portfolio-card text-center">
            <div class="card-body">
              <img src="<%=employee.profile%>" class="portfolio-img" alt="portfolio-image">
              <h5 class="card-title mt-3">
                <%=employee.name%>
              </h5>
              <p class="card-text">
                <%=employee.role%>
              </p>
            </div>
          </div>
        </a>
      </div>
      <% } %>
  </div>

  </div>