<% layout("/layouts/boilerplate.ejs") -%>



    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-container">
                <div class="row">
                    <div class="col-2 offset-4">
                        <div style="background-color: #fff;">
                            <div class="userprofile-image">
                                <img src="https://imgs.search.brave.com/m12gFeEaYTH9TW9JHo1E4K4UFZBIAGpFdv-O_jdbty0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzQ2LzgzLzk2/LzM2MF9GXzM0Njgz/OTY4M182bkFQemJo/cFNrSXBiOHBtQXd1/ZmtDN2M1ZUQ3d1l3/cy5qcGc" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <form method="POST" action="/user/postprofile/<%=userprofile._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                    <h2>Upload Your Profile</h2>
                    <div>
                        <input type="text" name="fullname" placeholder="FullName" value="<%=userprofile.fullname%>" required>
                        <div class="invalid-feedback">Please enter valid name</div>
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="E-mail" value="<%=userprofile.email%>" required>
                        <div class="invalid-feedback">Please enter valid email</div>
                    </div>
                    
                    <div>
                        <input list="professions" name="profession" placeholder="Profession" value="<%= userprofile.profession %>" required>
                        <div class="invalid-feedback">Please select a profession</div>
                    </div>

                    <datalist id="professions">
                        <option value="Software Engineer">
                        <option value="Web Developer">
                        <option value="Full Stack Developer">
                        <option value="Data Scientist">
                        <option value="Machine Learning Engineer">
                        <option value="Business Analyst">
                        <option value="Cloud Engineer">
                        <option value="UI/UX Designer">
                        <option value="Cyber Security Analyst">
                        <option value="DevOps Engineer">
                        <option value="Student">
                        <option value="other">
                    </datalist>
                
                    <div>
                        <input type="file" id="resume" name="resume" accept="application/pdf">
                        <div class="invalid-feedback">Please enter a valid resume</div>
                    </div>
                    
                    <div>
                        <input type="tel" name="contact" placeholder="Contact" value="<%= userprofile.contact %>" required>
                        <div class="invalid-feedback" >Please enter a valid contact</div>
                    </div>
                    
                    <div>
                        <input type="text" name="address" placeholder="Address" value="<%= userprofile.address %>">
                        <div class="invalid-feedback">Please enter a address</div>
                    </div>
                    <div>
                        <input type="number" name="pincode" placeholder="Pincode"  value="<%= userprofile.pincode %>">
                        <div class="invalid-feedback">PLease enter a pincode </div>
                    </div>
                    
                    <button type="submit">Save Profile</button>
                </form>
            </div>
        </div>
    </div>

